{% assign experience = include.experience %}

{% if experience == nil %}
{% for item in site.experiences %}
  {% assign item_name = item.path | split:"/" | last | split:"." | first %}
  {% if include.name == item_name %}
    {% assign experience = item %}
    {% break %}
  {% endif %}
{% endfor %}
{% endif %}

{% if experience %}
<a class="block-link" href="{{ experience.url | prepend: site.baseurl }}">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title"><i class="fa fa-pencil" aria-hidden="true"></i> {{experience.title }}</h2>
    </div>
    <div class="panel-body">
    {{ experience.summary }}
    </div>
  </div>
</a>
{% else %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h2 class="panel-title">Error</h2>
  </div>
  <div class="panel-body">Experience {% if include.name %}with the file name: {{ include.name }},{% endif %}  was not found.</div>
</div>
{% endif %}
