<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 180 }}{% else %}{{ data.course_info.description | truncate: 180 }}{% endif %}">

  <title>
    {{ site.data.course_info.number }}{% if page.title %}::{{ page.title }}{% endif %}
  </title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="{{ site.baseurl }}/assets/css/courseweb.css" rel="stylesheet"/>
  <link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet"/>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Nav Bar -->
  <nav class="navbar navbar-inverse navbar-fixed-top"  role="navigation">
      <div class="container">
          <div class="navbar-header">
              <div class="navbar-toggle-wrapper visible-xs">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".js-navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <a href="{{ "/" | prepend:site.baseurl }}" class="navbar-brand">
                {{ site.data.course_info.number }}
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse js-navbar-collapse">
              <ul class="navbar-nav nav">
                <li><a href="{{ "/modules.html" | prepend:site.baseurl }}">Modules</a></li>
                <li><a href="{{ "/outcomes.html" | prepend:site.baseurl }}">Outcomes</a></li>
                <li><a href="{{ "/readings.html" | prepend:site.baseurl }}">Readings</a></li>
                <li><a href="{{ "/experiences.html" | prepend:site.baseurl }}">Experiences</a></li>
                <li><a href="{{ "/assessments.html" | prepend:site.baseurl }}">Assessments</a></li>
                <!-- End Nav items -->
              </ul>
          </div>
      </div>
  </nav>
  <!-- End Nav Bar -->

  <!-- Content Area -->
  {{ content }}


  <footer>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-sm-10 col-lg-7">
        Copyright &copy;{{ site.time | date:"%Y" }} by Mary Mosman
        <br>This work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          Creative&nbsp;Commons Attribution-Noncommercial-ShareAlike&nbsp;4.0 Unported&nbsp;License
        </a>
      </div>
      <div class="col-sm-2 col-lg-1">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" />
        </a>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </footer>

  <script src="{{ "/assets/js/lib/jquery-3.2.1.min.js" | prepend:site.baseurl }}"></script>
  <script src="{{ "/assets/js/lib/bootstrap.min.js" | prepend:site.baseurl }}"></script>

  <script src="{{ "/assets/js/courseweb.js" | prepend:site.baseurl }}"></script>

</body>
</html>
