---
layout: page
---

<h2>{{ page.title }}</h2>

{% if page.outcomes.size > 0 %}
<h3>Outcomes</h3>
<div class="row">
{% for outcome_name in page.outcomes %}
  <div class="col-xs-12 col-md-6">
    {% include outcome_panel.html name=outcome_name %}
  </div>
{% endfor %}
</div>
{% endif %}

{% if page.readings.size > 0 %}
<h3>Readings</h3>
<div class="row">
{% for reading_name in page.readings %}
  <div class="col-xs-6 col-md-4 col-lg-3">
    {% include reading_panel.html name=reading_name %}
  </div>
{% endfor %}
</div>
{% endif %}

{% if page.experiences.size > 0 %}
<h3>Experiences</h3>
<div class="row">
{% for exp_name in page.experiences %}
  <div class="col-xs-6 col-md-4 col-lg-3">
    {% include experience_panel.html name=exp_name %}
  </div>
{% endfor %}
</div>
{% endif %}
